body {
  font-family: Arial, sans-serif;
  background-color: #c4adff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

hr {
  margin: 0;
}

.logo-font {
  font-family: "Brush Script MT", cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header-left {
  font-size: 30pt;
  font-weight: bold;
}

.header-right a {
  margin-left: 20px;
}
