<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeSwipe - Image Gallery</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/analysis.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="/"><span class="logo-font">SafeSwipe</span></a>
        </div>
        <div class="header-right">
            <a href="/transactions">Transactions</a>
            <a href="/analysis">Analysis</a>
        </div>
    </div>
    <hr>
    <div class="main-content">
        <img src="../static/images/analysis/State vs Frauds.png" alt="State vs Frauds">
        <img src="../static/images/analysis/age-f.png" alt="age-f">
        <img src="../static/images/analysis/amount-category.png" alt="amount-category">
        <img src="../static/images/analysis/category.png" alt="category">
        <img src="../static/images/analysis/class-imbalance.png" alt="class-imbalance">
        <img src="../static/images/analysis/hour.png" alt="hour">
        <img src="../static/images/analysis/jobs.png" alt="jobs">
        <img src="../static/images/analysis/mf.png" alt="mf">
        <img src="../static/images/analysis/states.png" alt="states">
    </div>
</body>
</html>
