<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeSwipe</title>
    <link rel="icon" href="../static/images/website/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <div class="header">
        <div class="header-left" onclick="window.location.href='/';">
            <img src="../static/images/website/icon.png" alt="">
            <a href="/"><span class="logo-font">SafeSwipe</span></a>
        </div>
        <div class="header-right">
            <a href="/transactions">Transactions</a>
            <a href="/analysis">Analysis</a>
        </div>
    </div>
    <hr>
    <div class="main-content">
        <div class="main-image">
            <img src="../static/images/website/main-image.png" alt="main-image">
        </div>
        <h1>Welcome to <span class="logo-font">SafeSwipe</span></h1>
        <p>SafeSwipe is an advanced credit card fraud detection system powered by cutting-edge machine learning algorithms. Designed with precision and security in mind, this system analyzes patterns and anomalies in your credit card transactions to detect and prevent fraudulent activities in real-time. Whether you're concerned about potential threats or just want to monitor your spending habits, SafeSwipe provides you with detailed insights and peace of mind by identifying any suspicious transactions before they become a problem. Easily navigate through your transaction history and trust that SafeSwipe is safeguarding your financial well-being every step of the way.</p>
        
        <div class="box-container">
            <div class="box" onclick="window.location.href='/transactions';">
                <p>Transactions</p>
                <img src="../static/images/website/transaction.PNG" alt="">
            </div>
            <div class="box" onclick="window.location.href='/analysis';">
                <p>Analysis</p>
                <img src="../static/images/website/analysis.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-main">
        <hr>
        <p><strong>Note: The dataset utilized in this project is simulated and not intended for actual credit card transactions.</strong></p>
    </div>
</body>
</html>
